#maintitle {
    text-align: center
}

#subtitle {
    text-align: center
}

#countdown {
    text-align: center;
    font-size: 32pt;
}

body {
    margin: 5% 5% 5% 5%;
}

#mainbody {
    margin-left: 10%;
    margin-right: 10%;
}
