<!DOCTYPE html>
<html>
<head>
    <title>GB4LHS - About</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/gb4lhs.css">
    <link rel="stylesheet" href="static/gb4lhs-live.css">
    <style>
    #maintitle {
        text-align: center
    }

    #subtitle {
        text-align: center
    }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GB4LHS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
                <li>
                    <a class="nav-link" href="https://log.gb4lhs.co.uk">Log</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--<div class="alert alert-warning" role="alert">
        Come Back Soon!
    </div>-->
    <div class="container">
        <h1 id="maintitle">GB4LHS - London Hackspace Open Day Special Event Station</h1>
        <h2 id="subtitle">26th May 2019</h2>
        <div id="mainbody">
            <p>
                After many months of work, <a href="https://london.hackspace.org.uk/">London Hackspace</a> is finally rebuilt after moving to its new space in Wembley, North London. In order to celebrate this, and show the space off to potential new members, an open day is being held on Sunday the 26th May 2019. As part of this, the radio subgroup is active throughout the day as GB4LHS.
            </p>
            <p>
                We're running a Yaesu FT-991A (owned by Michael, M0ISR) into a fan dipole made with laser cut seperators.
            </p>
        </div>
        <div class="row">
            <div class="card text-white bg-dark col-sm">
                <div class="card-header">Station Address</div>
              <div class="card-body">
                <h5 class="card-title">London Hackspace</h5>
                <p class="card-text">388 High Road<br>
                    Wembley<br>
                    London<br>
                    HA9 6AR
                </p>
              </div>
            </div>
            <div class="card text-white bg-dark col-sm">
                <div class="card-header">Event Details</div>
              <div class="card-body">
                <h5 class="card-title">London Hackspace Open Day</h5>
                <p class="card-text">Date: 26th May 2019<br>
                    Time: 12:00
                </p>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
