#maintitle {
    text-align: center
}

#subtitle {
    text-align: center
}

#countdown {
    text-align: center;
    font-size: 32pt;
}

body {
    background-color: #222;
    background-image: linear-gradient(to right, #222 , #333, #333, #222);
    color: #ddd;
    margin: 4em;
}

#mainbody {
    margin-left: 4em;
    margin-right: 4em;
}
